*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.press-start-2p-regular {
    font-family: "Press Start 2P", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: px;
}
body{
    place-items: center;
    /* background-image: url(./images/background.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  */
}
h1{
    margin-top: 10px;
    text-align: center;
}
h3{
    text-align: center;
}
.box{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.image{
    background-image: url(./images/WhatsApp\ Image\ 2024-12-16\ at\ 23.06.19\ \(1\).jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 700px;
    width: 90%;
}
.container{
    /* display: flex; */
    height: 600px;
    width: 800px;
    margin-top: 50px;
}
.topDiv,.bottomDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middleDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box img{
    height: 200px;
    width: 200px;
    background-size: contain;
}
.box:hover{
    cursor: pointer;
}

/* blincking animation */
@keyframes blink {
    0%,100%{background-color: white}
    50%{opacity: 0;}
}
.blink{
    animation: blink 1s linear 1s 3;
}


/* =================== JS classes ============== */
.remove{
    display: none;
}
.blueBox{
    background-color:lightskyblue ;
    border: 5px solid rgb(46, 87, 170);
    transform: scale(1.1);
    transition: all 0.2s ease;
}
.redBox{
    background-color:rgb(234, 137, 137) ;
    border: 5px solid rgb(170, 46, 46);
    transform: scale(1.1);
    transition: all 0.2s ease;
}
.yellowBox{
    background-color:rgb(242, 242, 111) ;
    border: 5px solid rgb(172, 161, 12);
    transform: scale(1.1);
    transition: all 0.2s ease;
}
.greenBox{
    background-color:rgb(128, 237, 128) ;
    border: 5px solid rgb(58, 170, 46);
    transform: scale(1.1);
    transition: all 0.2s ease;
}





footer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(12, 11, 11);
    color: white;
}
footer p{
    margin-top: 9px;
}